<h1 mat-dialog-title>Cadastro Tesouro Direto</h1>
<div  mat-dialog-content>
    <form [formGroup]="tesouroForm">
        <mat-form-field appearance="outline">
            <mat-label> Banco</mat-label>
            <mat-select formControlName="bancoId" placeholder="Banco" >
                <div *ngFor="let u of bancos">
                    <mat-option [value]="u.bancoId"> {{ u.bancoNome }} </mat-option>
                </div>
            </mat-select>
        </mat-form-field>
    </form>
    <form [formGroup]="movimentacaoForm">
        <mat-form-field appearance="outline">
            <mat-label>Data Movimentacao</mat-label>
            <input formControlName="dataMovimentacao" matInput type="date" >
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Valor</mat-label>
            <input formControlName="valor" matInput type="number">
        </mat-form-field>
    </form>
    <form [formGroup]="tesouroForm">
        <mat-form-field appearance="outline">
            <mat-label>Rentabilidade %</mat-label>
            <input formControlName="rentabilidade" matInput type="text" type="number">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Vencimento</mat-label>
            <input formControlName="vencimento" matInput type="date" placeholder="Vencimento (Opcional)">
        </mat-form-field> 
        <mat-form-field appearance="outline">
            <mat-label>Custos</mat-label>
            <input formControlName="custos" matInput type="number" placeholder="Custos(Opcional)">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label> Indexador</mat-label>
            <mat-select formControlName="indexadorRendimentosId" placeholder="Indexador" >
                <div *ngFor="let u of indexadores">
                    <mat-option [value]="u.indexadorRendimentosId"> {{ u.indexadorRendimentosNome}} </mat-option>
                </div>
            </mat-select>
          </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button  mat-raised-button color="warn" mat-dialog-close>Fechar</button>
    <button  mat-raised-button color="primary"  (click)="EnviarFormulario()">{{actionBtn}}</button>
</div>
